/*.log
/target
/*-init.clj
/resources/public/js/compiled
out
.nrepl-port
.idea
*.iml
node_modules
.cljs_rhino_repl
browser/resources/public/css/
.lein-repl-history
.buckconfig
.flowconfig
.watchmanconfig
.nrepl-history
yarn.lock
.lein-failures
package-lock.json